body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding:0px 0px;
    box-sizing: border-box;
}

.container{
    display: flex;
    height: 100vh;
    text-align:center;
}
.left-panel{
    background-image:url("https://freerangestock.com/sample/101069/red-rose-and-green-leaves-on-dark-background.jpg");
    background-size:cover;
    background-position: center;
    width:50%;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    align-items:center;
    color:#fff;
}

.left-panel h1{
    font-size: 50px;
    font-weight: bold;
    margin-left: 20px;
    text-align: left;
    padding-top: 90px;
    padding-left: 90px;
}
.left-panel p {
    font-size:13px;
    text-align: left;
    margin-left: 20px;
    padding-top: 20px;
    padding-left: 90px;
}
.right-panel{
    display: absolute; 
    background-size: cover; 
    background-position: center;
    width:50% ;
    background-color: #fff;
    text-align: left;
    margin:5%;
}
.right-panel h2{
    font-size: 24px;
    font-weight: bold;
    display: absolute;
    padding-top: px;
}
.right-panel p{
    font-size: 14px;
    color: #666;
}
form{
    margin-top: 30px;
}
label{
    display:block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    object-position: center;

}
.inside-form{
input[type="text"], input[type="email"], input[type="password"]  ,input[type="number"]{
  margin-bottom: 20px;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 5px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button[type="submit"] {
  background-color: #ff0000; /* Red color */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #cc0000; /* Darker red color */
}
}
.btn{
  top:1px;
  font-size: 13px;
  cursor: pointer;
  font-weight: bold;
  text-decoration:none;
  border: 1;
  border-color: #333;
  background-color: #3c199b;
  color:white;
  padding: 10px 15px;
  border-radius: 5px;
}
.btn1{
  top:1px;
  font-size: 13px;
  cursor: pointer;
  font-weight: bold;
  text-decoration:none;
  border: 1;
  border-color: #333;
  background-color: #165966;
  color:white;
  padding: 10px 15px;
  border-radius:5px ;
}
.btn2{
  top:1px;
  font-size: 13px;
  cursor: pointer;
  font-weight: bold;
  text-decoration:none;
  border: 1;
  border-color: #333;
  background-color: #5b292a;
  color:white;
  padding: 10px 15px;
  border-radius: 5px;
}
.btn0{
  top:1px;
  font-size: 13px;
  cursor: pointer;
  font-weight: bold;
  text-decoration:none;
  border: 1;
  border-color: #333;
  background-color: #641a5f;
  color:white;
  padding: 10px 15px;
  border-radius: 5px;
}